body {
    margin: 0;
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
a {
    color: #756158;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic; 
}

h1 {
    font-size: 80px;
    text-align: center;
    /*
    Chci mít obrázek v hlavičce
    color: white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    */
}

h2 {
    font-size: 48px;
    text-align: center;
    /* nechybí tu něco? :-) */
}

h3 {
    font-size: 24px;
    /* nechybí tu něco? :-) */
}

a {
    font-style: italic;
}

.fotogalerie,
.kontakt {
    background-color: #f9e3d0;
}

.paticka {
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 50px 15%;
}
