/* 
   Aplikovat na moji profilovku
*/
.foto-omne {
    width: 200px;
    border-radius: 50%;
}

.fotogalerie img {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
}

/* 
    Obrázek v sekci Turistický průvodce 
    Sirka: 350px
    Zkus vlastni radius
*/
.foto-pruvodce {
    border-radius: 0 50px 50px 50px;
}

/* 
    Obrázek v sekci Kontakt
    Sirka: 350px
    Zkus vlastni radius
*/
.foto-kontakt {
    border-radius: 50px 0 50px 50px;
}

table {
    border-spacing: 0;
    padding: 30px;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

/* 
    Tohle bych měla přidat do tabulky, kde mam sloupec s cenou
*/
.cena {
    text-align: right;
    padding-left: 50px;
}

.foto-omne-dej-vlevo {
    float: left;
    margin: 0 30px 30px 0;
}

.foto-pruvodce-dej-vpravo {
    float: right;
    margin: 0 0 30px 30px;
}

.foto-kontakt-dej-vlevo {
    float: left;
    margin: 0 30px 30px 0;
}

.hlavicka {
    background-image: url(obrazky/hlavicka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 30px;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #282425;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #756158;
}
